<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>
                        <img src="" alt="img">
                    </li>
                    <li>
                        <img src="portfolio\src\assets\more.png" alt="img">
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">About Me</a>
                    </li>
                    <li>
                        <a href="#">My Projects</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>