/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";  
body{
    margin: 0%;
    padding: 0%;
    background: black;
}
p{
    margin: 0%;
}
ul{
    list-style-type:none;
    padding: 0%;
}
.p-wrapper{
    position: relative;
    padding: 3%;
}
.p-wrapper::before{
    content: '';
    background: #325A5D;
    opacity: 50%;
    height: 100vh;
    width: 30vw;
    position: absolute;
    z-index: -1;
}
.col-sm-12{
    color: #B44D04;
}